*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    font-family: 'Open Sans', sans-serif;
}

header
{
    background-image: url('../images/header_bg.png');
    background-color: #FFF8F3;
    background-repeat: no-repeat;
    background-position: bottom right;
    align-items: center;
}

.header-all-item
{
    display: flex;
}

/* .header-left-img
{
    background-image: url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: center;
} */

.comon-container
{
    width: 1140px;
    margin: auto;
}
.nav-item
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}
.nav-logo
{
    font-size: 45px;
    font-weight: 800;
    color: #181818;
}
.nav-logo span
{
    font-size: 45;
    font-weight: 800;
    color: #FD6E0A;
}

.nav-item ul
{
    display: flex;
    align-items: center;
}

.nav-item ul li
{
    list-style: none;
    margin: 10px;
}

.nav-item ul a
{
    text-decoration: none;
    padding: 10px;
    margin-right: 51px;
    font-size: 20px;
    font-weight: 400;
    color: #474747;
}

.btn-prymari
{
    background-color: #FD6E0A;
    padding: 18px 35px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #FFF8F3;
    border: 0;
}

.header-content
{
    display: flex;
    justify-content: space-between;
    margin: 100px 40px 0 380px;
    align-items: center;
}

.header-title h3
{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}

.header-title h1
{
    font-size: 85px;
    font-weight: 800;
    color: #181818;
    padding-top: 10px;
}

.header-title p
{
    font-size: 18px;
    color: #474747;
    line-height: 30px;
    padding-right: 200px;
    margin: 20px 0;
}
.header-button
{
    margin-top: 25px;
}

.btn-contact
{
    background-color: transparent;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    margin-left: 25px;
}

/* About section */

.about-container
{
    background-color: #FFF8F3;
    padding: 100px;
    margin-top: 130px;
}

.about-title-h3
{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: #181818;
    padding-bottom: 25px;
}

.about-title-p
{
    text-align: center;
    font-size: 18px;
    color: #474747;
    line-height: 30px;
    padding-bottom: 25px;
}

/* address */

.address-box
{
    display: flex;
    gap: 100px;
    padding-top: 20px;
}

.address-title h4
{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 10px;
    color: #757575;
}

.address-title h3
{
    text-align: center;
    font-size: 20px;
    color: #474747;
    font-weight: bold;
}

/* What-ido-content */

.What-ido-content
{
    padding: 100px;
}
.skil-container
{
    display: flex;
    gap: 25px;
    margin-top: 50px;
}

.skil-box-title
{
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 2px 30px 4px rgba(0,0,0,0.1);
}

.skil-box-title h3
{
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    padding: 20px 0px;
}

.skil-box-title p
{
    font-size: 16px;
    font-weight: 400;
    color: #757575;
    line-height: 30px;
}

/* A summary of My Resume */

.resume-content-box
{
    display: flex;
    padding: 50px 0px;
    gap: 80px;
}

.resume-title-h3
{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
}

.resume-box
{
    padding: 30px 30px 0px 0px;
}

.resume-box h3
{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    padding-bottom: 20px;
}

.resume-box h4
{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 30px;
    color: #757575;
}

.resume-box p
{
    font-size: 16px;
    font-weight: 400;
    color: #757575;
    line-height: 30px;
    padding-bottom: 25px;
}

.resume-box hr
{
    color: #000000;
}

.d-btn-prymari
{
    width: 230px;
    margin: auto;
}

/* contact */

.contact-aria
{
    background-color: #FFF8F3;
    padding: 100px 0px;
    margin-top: 100px;
}

.contact-content
{
    display: flex;
    justify-content: space-between;
}
.contact-box
{
    width: 42%;
}

.contact-box h3, .contact-form h3
{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.contact-box p
{
    font-size: 16px;
    font-weight: 400;
    color: #474747;
    line-height: 30px;
    padding: 25px 0px;
}

.contact-box a
{
    margin-right: 30px;
}

.contact-form input, .textarea-size
{
    margin-top: 30px;
    width: 460px;
    height: 65px;
    border: 0;
    border-radius: 3px;
    padding-left: 30px;
    font-size: 16px;
    font-weight: 400;
    color: #757575;
}

.textarea-size
{
    height: 180px;
    padding-top: 20px;
    margin-bottom: 30px;
}